grid_use = json('grid_schema.json',{hash:true})
use = grid_use

col(unit=1)
	if unit >= grid_use.config.nth
		unit = grid_use.config.nth
	base = unit(100/grid_use.config.nth,"%")
	width:base * unit;
	padding-left:rem(unit(grid_use.config.padding,"px"));
	padding-right:rem(unit(grid_use.config.padding,"px"));
	box-sizing:border-box;
	float:left;
	min-height:rem(1px);
	position: relative;

col-offset(unit=1)
	if unit >= grid_use.config.nth
		unit = grid_use.config.nth
	base = unit(100/grid_use.config.nth,"%")
	margin-left:base * unit;
	float:left;

media(keyword=String(keyword))
	&
		if keyword == grid_use.keywords.xs
			@media screen and (min-width:unit(grid_use.media.xs,"px"))
				{block}
	&
		if keyword == grid_use.keywords.sm
			@media screen and (min-width:unit(grid_use.media.sm,"px"))
				{block}
	&
		if keyword == grid_use.keywords.md
			@media screen and (min-width:unit(grid_use.media.md,"px"))
				{block}
	&
		if keyword == grid_use.keywords.lg
			@media screen and (min-width:unit(grid_use.media.lg,"px"))
				{block}


//col
c_range = 1..grid_use.config.nth
//xs - to - lg
for class in grid_use.classes
	for n in c_range
		.col-{class}-{n}
			if class == 'xs'
				+media(mobile)
					col(n)
			if class == 'sm'
				+media(tablet)
					col(n)
			if class == 'md'
				+media(desktop)
					col(n)
			if class == 'lg'
				+media(wide)
					col(n)

//offset
c_range = 0..grid_use.config.nth
//xs - to - lg
for class in grid_use.classes
	for n in c_range
		.col-{class}-offset-{n}
			if class == 'xs'
				+media(mobile)
					col-offset(n)
			if class == 'sm'
				+media(tablet)
					col-offset(n)
			if class == 'md'
				+media(desktop)
					col-offset(n)
			if class == 'lg'
				+media(wide)
					col-offset(n)

//display/hide
c_range = 0..grid_use.config.nth
//xs - to - lg
for class in grid_use.classes
	for n in c_range
		.col-{class}-hidden
			if class == 'xs'
				+media(mobile)
					display:none;
				+media(tablet)
					display:block;
				+media(desktop)
					display:block;
				+media(wide)
					display:block;

			if class == 'sm'
				+media(mobile)
					display:none;
				+media(tablet)
					display:none;
				+media(desktop)
					display:block;
				+media(wide)
					display:block;

			if class == 'md'
				+media(mobile)
					display:none;
				+media(tablet)
					display:none;
				+media(desktop)
					display:none;
				+media(wide)
					display:block;

			if class == 'lg'
				+media(mobile)
					display:none;
				+media(tablet)
					display:none;
				+media(desktop)
					display:none;
				+media(wide)
					display:none;

//expose with other components
grid_container_width = unit(grid_use.container,'px')
grid_container_fluid_width = unit(100,"%")
baseline_row = 25

container_common()
	&.{grid_use.selector.page}
		background-color:grid_use.colors.default;
		border:rem(1px) solid grid_use.config.page_border;
		&.{grid_use.selector.dark}
			background-color:grid_use.colors.dark;
			border:rem(1px) solid invert(grid_use.config.page_border);
	clear:both;
	clearfix()
	min-height:1px;
	position:relative;
	display:block;
	padding-left: rem(unit(grid_use.config.padding,"px"));
	padding-right: rem(unit(grid_use.config.padding,"px"));
	+set("reset_row")
		margin-left: -(unit(grid_use.config.padding,"px"));
		margin-right: -(unit(grid_use.config.padding,"px"));

make_container(mode='default')
	container_common()
	margin:0 auto;
	if mode == "fluid"
		width:100%;
	else
		max-width:unit(grid_use.container,'px');

//aliased selectors
+set("reset_row")
	clearfix()
+set("fluid_container")
	make_container("fluid")
+set("container")
	make_container()
