use = json('./g_color_schema.json',{hash:true})


if use.colors.red
	$red = json('./red.json',{hash:true})
if use.colors.blue
	$blue = json('./blue.json',{hash:true})
if use.colors.green
	$green = json('./green.json',{hash:true})
if use.colors.orange
	$orange = json('./orange.json',{hash:true})
if use.colors.yellow
	$yellow = json('./yellow.json',{hash:true})
if use.colors.pink
	$pink = json('./pink.json',{hash:true})
if use.colors.purple
	$purple = json('./purple.json',{hash:true})
if use.colors.black
	$black = json('./black.json',{hash:true})
if use.colors.white
	$white = json('./white.json',{hash:true})
