anchor()
	display:flex!important;
	justify-content: center;
	align-items:center;


&
	display: flex;
	align-items: center;
	justify-content: center;
	line-height:initial!important;
	[class^='container']
		display:inherit;
		max-width:grid_container_width;
		max-height:inherit;
		width:100%;
		height:100%;
		.brand-text
			anchor()
		ul.nav
			anchor()
			li
				min-height:inherit;
				height:100%;
				anchor()
				a
					min-height:inherit;
					height:100%;
					anchor()
