use = json('./button_schema.json',{hash:true})

+set("default")
	if use.shine.enabled
		box-shadow:inset 0 1px rgba(255,255,255,use.shine.strength);
		text-shadow: 0 1px rgba(255,255,255,use.shine.strength);
	background-color:#f5f5f5;
	border:rem(1px) solid use.config.border_default_color;
	border-radius:rem(use.config.roundness);
	padding:use.config.padding;
	outline:0;
	color:auto;
	font-size:use.sizes.md;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
	&.{use.selector.round}
		border-radius:9999em;
	&.{use.selector.primary},
	&[type='submit']
		color:auto;
		background-color:use.color.primary;
		border:rem(1px) solid saturation(@background-color,50%);
		&.{use.selector.transparent}
			color:@background-color;
			background-color:use.color.transparent;
			text-transform:uppercase;
		&.{use.selector.ghost}
			color:@background-color;
			background-color:use.color.transparent;
			border:rem(use.config.ghost_border_size) solid;
	&.{use.selector.informative}
		color:auto;
		background-color:use.color.informative;
		border:rem(1px) solid saturation(@background-color,50%);
		&.{use.selector.transparent}
			color:@background-color;
			background-color:use.color.transparent;
			text-transform:uppercase;
		&.{use.selector.ghost}
			color:@background-color;
			background-color:use.color.transparent;
			border:rem(2px) solid;
	&.{use.selector.warning}
		color:auto;
		background-color:use.color.warning;
		border:rem(1px) solid saturation(@background-color,50%);
		&.{use.selector.transparent}
			color:@background-color;
			background-color:use.color.transparent;
			text-transform:uppercase;
		&.{use.selector.ghost}
			color:@background-color;
			background-color:use.color.transparent;
			border:rem(2px) solid;
	&.{use.selector.danger}
		color:auto;
		background-color:use.color.danger;
		border:rem(1px) solid saturation(@background-color,50%);
		&.{use.selector.transparent}
			color:@background-color;
			background-color:use.color.transparent;
			text-transform:uppercase;
		&.{use.selector.ghost}
			color:@background-color;
			background-color:use.color.transparent;
			border:rem(2px) solid;
	&.{use.selector.transparent}
		color:auto;
		background-color:use.color.transparent;
		border:rem(1px) solid saturation(@background-color,50%);
		box-shadow:initial;
	&.{use.selector.ghost}
		color:auto;
		background-color:use.color.transparent;
		border:rem(2px) solid;
		&.dark
			color:#fff;
	&.{use.selector.sm}
		font-size:use.sizes.sm;
	&.{use.selector.lg}
		font-size:use.sizes.lg;

//button group for children
+set("group_default")
	white-space:nowrap;
	+set("default")
		border-radius:0;
		border-left:0;
		&.{use.selector.ghost}
				border-right:0;
				box-shadow:none;
		&:first-child
			border-left:rem(1px) solid use.config.border_default_color;
			border-top-left-radius:rem(use.config.roundness);
			border-bottom-left-radius:@border-top-left-radius;
			&.{use.selector.round}
				border-top-left-radius:9999em;
				border-bottom-left-radius:@border-top-left-radius;
				&.{use.selector.ghost}
					border-left:rem(use.config.ghost_border_size) solid;
		&:last-child
			border-top-right-radius:rem(use.config.roundness);
			border-bottom-right-radius:@border-top-right-radius;
			&.{use.selector.round}
				border-top-right-radius:9999em;
				border-bottom-right-radius:@border-top-right-radius;
				&.{use.selector.ghost}
					border-right:rem(use.config.ghost_border_size) solid;

//parent .round
+set("group_default")
	&.{use.selector.round}
		+set("default")
			&:first-child
				border-top-left-radius:9999em;
				border-bottom-left-radius:@border-top-left-radius;
				&.{use.selector.ghost}
					border-left:rem(use.config.ghost_border_size) solid;
			&:last-child
				border-top-right-radius:9999em;
				border-bottom-right-radius:@border-top-right-radius;
				&.{use.selector.ghost}
					border-right:rem(use.config.ghost_border_size) solid;

.menu-toggle
	margin:auto 0;
	display:inline-block;
	float:left;
	max-height:initial;
	height:initial;
	width:rem(50px);
	span.line-bar
		margin-top:rem(3px);
		display:block;
		height:rem(2px);
		width:100%;
		background-color:#000;
		.crossbar
			margin-top:0;
	+try('display','flex',use.config.flexbox)
		margin:0;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

.menu-toggle
	+media(tablet)
		display:none;
