use = json('./typography_schema.json',{hash:true})
font-face(use.font_family[0],use.font_family[1],use.font_family[2])

body
	background-color:#FBFCFD;
	color:auto;
	font-family:'Oxygen',use.category;

.brand-text
	font-size:1.414em;

font-debug()
	background-color:rgba(255,0,0,.1);

a
	text-decoration:none;
	color:#3f51b5;

.text-center
	text-align:center;
.text-right
	text-align:right;
.text-left
	text-align:left;

//target all text elements
text()
	p,
	a,
	i,
	b,
	strong,
	span,
	h1,
	h2,
	h3,
	h4,
	h5,
	li
		{block}

//configure in typography schema.
if use.typesettings
	$ms-ratio:= use.typesettings_config.modular_scale;
	$base-vertical-unit:= unit(use.typesettings_config.base_v_unit,"px");
	$base-line-multi:= use.typesettings_config.base_line_multi;
	$base-font-size:= unit(use.typesettings_config.base-font-size,"px");
	$paragraph-indent:= use.typesettings_config.paragraph_indent;
	$paragraph-justify:= use.typesettings_config.paragraph_justify;
	@import 'type_settings'

for n in 1 ..6
	h{n}.hr,
	.h{n}.hr
		display:flex;
		flex:2;
		vertical-align:middle;
		width:100%;
		&:after
			content:"";
			flex:1;
			width:100%;
			border-bottom:.1em solid;
